*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

nav {
	width: 100%;
	background-color: #222;
	font-family: "Josefin Sans", sans-serif;
	font-size: 1.5rem;
	z-index: 1;
	overflow: hidden;
	position: fixed;
	top: 0;
}

nav > ul {
	margin: 0;
	padding: 0.8rem;
	text-align: center;
}

.nav-items {
	display: inline-block;
	padding: 0.8rem;
}

a {
	text-decoration: none;
	color: #fff;
}

body {
	box-sizing: border-box;
	height: 100%;
	margin-top: 4.6rem;
}

#bio {
	padding-top: 4.6rem;
	margin-top: -4.6rem;
	-webkit-background-clip: content-box;
	background-clip: content-box;
}

#achievements {
	padding-top: 4.6rem;
	margin-top: -4.6rem;
	-webkit-background-clip: content-box;
	background-clip: content-box;
}

#experience {
	padding-top: 4.6rem;
	margin-top: -4.6rem;
	-webkit-background-clip: content-box;
	background-clip: content-box;
}

#training {
	padding-top: 4.6rem;
	margin-top: -4.6rem;
	-webkit-background-clip: content-box;
	background-clip: content-box;
}

.main-header {
	background-image: url("https://czuzi.github.io/Anakin/anakin.png");
	height: 35rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 30%;
	display: flex;
}

.lead-text {
	font-size: 1.3rem;
}

.header-text {
	align-self: flex-end;
	font-family: "Abril Fatface", cursive;
	color: #fff;
	margin: 3rem;
	/* margin-top: 20rem; */
}

.header-text-greeting {
	display: block;
	font-size: 1.8rem;
	animation-name: moveInLeft;
	animation-duration: 0.7s;
	animation-timing-function: ease-out;
}

.header-text-name {
	display: block;
	font-size: 2.5rem;
	animation-name: moveInTop;
	animation-duration: 0.8s;
	animation-timing-function: ease-out;
	animation-delay: 0.4s;
	animation-fill-mode: backwards;
}

blockquote {
	font-family: "Abril Fatface", cursive;
	font-size: 2.5rem;
	color: #fff;
	padding: 3.5rem;
	background-color: #222;
	opacity: 0.7;
	position: relative;
	width: 30%;
}

blockquote::before {
	content: "“";
	position: absolute;
	top: -2.5rem;
	left: 0;
	font-size: 10rem;
}

.content {
	margin: 3.5rem;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 300;
	line-height: 1.6;
	flex: 1;
}

h2 {
	margin-bottom: 2rem;
}

p {
	margin: 2rem 0;
}

ul {
	margin: 1rem 3rem 1.5rem 3rem;
}

.sub-header-strong {
	font-weight: 400;
}

.content-subtitle {
	font-style: italic;
	font-weight: 400;
	margin: 0;
}

.container {
	/* margin-bottom: 3rem; */
	display: flex;
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}
	80% {
		transform: translateX(1rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInTop {
	0% {
		opacity: 0;
		transform: translateY(-20rem);
	}
	80% {
		transform: translateY(2rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@media screen and (max-width: 1024px) {
	html {
		font-size: 85%;
	}

	.lead-text {
		font-size: 1.1rem;
	}
	.main-header {
		width: 40%;
	}

	blockquote {
		width: 40%;
	}
}

@media screen and (max-width: 640px) {
	html {
		font-size: 75%;
	}

	body {
		margin-top: 3.8rem;
	}

	nav {
		font-size: 1.4rem;
	}

	nav > ul {
		padding: 0.6rem;
	}

	#achievements {
		padding-top: 3.8rem;
		margin-top: -3.8rem;
	}

	#experience {
		padding-top: 3.8rem;
		margin-top: -3.8rem;
	}

	#training {
		padding-top: 3.8rem;
		margin-top: -3.8rem;
	}

	.nav-items {
		padding: 0.6rem;
	}

	.main-header {
		width: 100%;
	}

	.container {
		display: block;
	}

	.content {
		margin: 2rem 3rem;
	}

	blockquote {
		width: 100%;
	}
}
